<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add A New Client</h1>
        <div style="width: 30%; margin: 30px auto;">
            
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <p>Client Information</p>
                    <input class="form-control" type="text" placeholder="Client Name" name="name">
                </div>

                <div class="form-group">
                    <textarea class="form-control" type="textarea" placeholder="Address" name="address"></textarea>
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Phone Number" name="phone">
                </div>

                <div class="form-group">
                    <input class="form-control" type="email" placeholder="E-Mail" name="email">
                </div>

                <div class="form-group">
                    <p>Wedding Information</p>
                    <input class="form-control" type="date" placeholder="Wedding Date" name="date">
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Wedding Venue" name="wedVenue">
                </div>

                <div class="form-group">
                    <textarea class="form-control" type="text" placeholder="Venue Address" name="wedAddress"></textarea>
                </div>

                <div class="form-group">
                        <p>Package Information</p>
                        <select class="form-control" id="packageSelect" name="package">
                            <option>Basic</option>
                            <option>Full</option>
                            <option>Complete</option>
                            <option>Custom</option>
                        </select>
                </div>

                <div class="form-group">
                    <textarea class="form-control" type="text" placeholder="Additions" name="additions"></textarea>
                </div>

                <div class="form-group">
                    <input class="form-control" type="number" placeholder="Total Package Price" name="price" min="0.01" step="0.01" max="25000">
                </div>

                <div class="form-group">
                    <p>Contract</p>
                    <input class="form-control" type="text" placeholder="Contract Link" name="wedContract">
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Image Link" name="image">
                </div>


                <p>About The Couple</p>
                <div class="form-group">
                    <textarea class="form-control" type="textarea" value="" name="about"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-default btn-block">Submit</button>
                </div>
            </form>

            

            <a href="/campgrounds">Go Back To Clients</a>

        </div>
    </div>
</div>

<%- include("../partials/footer") %>