body {
  background-color: #000;
}

#landing-header {
  z-index: 1;  /* This z-index allows us to essentially stack items. Any ele < 1 will be below */
  position: relative;
  text-align: center;
  padding-top: 40vh; 
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 18s linear infinite; 
}



.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1488600630989-a3e3a14cc09f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1498979237786-9c35706bd45e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI5MzI0fQ&auto=format&fit=crop&w=3300&q=80);
  animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1519379169146-d4b170447caa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 9s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1460978812857-470ed1c77af0?ixlib=rb-1.2.1&auto=format&fit=crop&w=2058&q=80);
  animation-delay: 13s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1503738692489-fff01e3e0f3e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 16s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}