.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0%;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.stack {
    display: inline;
}

.lead {
    font-weight: 400;
}

.lead-small {
    font-weight: 500;
}